In [1]:
import pandas as pd

# Load dataset (with the correct CSV file name)
df = pd.read_csv("22yztw (2).csv")


# Print the DataFrame
print(df)
print(df.isnull().sum())
# Replace numeric column NULLs with mean
for col in df.select_dtypes(include='number').columns:
    df[col].fillna(df[col].mean(), inplace=True)
def sugar_condition(value):
    if value < 70:
        return "Low"
    elif value <= 99:
        return "Normal"
    elif value <= 125:
        return "Prediabetes"
    else:
        return "Diabetes"

df["Sugar_Condition"] = df["sugar_level"].apply(sugar_condition)
print(df)
# Remove duplicate rows
df = df.drop_duplicates()
print(df)
# Calculate average visit cost
avg_cost = df["visit_cost"].mean()

print("Average Visit Cost:", avg_cost)
# Filter diabetes patients
diabetes_df = df[df["Sugar_Condition"] == "Diabetes"]

# Calculate average sugar level
avg_sugar = diabetes_df["sugar_level"].mean()

print("Average Sugar Level for Diabetes:", avg_sugar)

    record_id patient_id     diagnosis      bp  sugar_level  visit_cost
0        R101       P013  Hypertension  120/80        140.0        2000
1        R102       P105      Diabetes  120/80          NaN        2500
2        R103       P098  Hypertension    high        140.0        3000
3        R104       P038        Asthma  140/90          NaN        3000
4        R105       P040        Asthma  130/85          NaN        1500
..        ...        ...           ...     ...          ...         ...
115      R216       P081        Asthma    high        110.0        2500
116      R217       P033      Diabetes    high          NaN        1500
117      R218       P063  Hypertension  140/90          NaN        2000
118      R219       P011  Hypertension  130/85        180.0        2500
119      R220       P013  Hypertension    high        180.0        1500

[120 rows x 6 columns]
record_id       0
patient_id      0
diagnosis       0
bp              0
sugar_level    35
visit_cost      0
dtype: int64
    record_id patient_id     diagnosis      bp  sugar_level  visit_cost  \
0        R101       P013  Hypertension  120/80   140.000000        2000
1        R102       P105      Diabetes  120/80   141.058824        2500
2        R103       P098  Hypertension    high   140.000000        3000
3        R104       P038        Asthma  140/90   141.058824        3000
4        R105       P040        Asthma  130/85   141.058824        1500
..        ...        ...           ...     ...          ...         ...
115      R216       P081        Asthma    high   110.000000        2500
116      R217       P033      Diabetes    high   141.058824        1500
117      R218       P063  Hypertension  140/90   141.058824        2000
118      R219       P011  Hypertension  130/85   180.000000        2500
119      R220       P013  Hypertension    high   180.000000        1500

    Sugar_Condition
0          Diabetes
1          Diabetes
2          Diabetes
3          Diabetes
4          Diabetes
..              ...
115     Prediabetes
116        Diabetes
117        Diabetes
118        Diabetes
119        Diabetes

[120 rows x 7 columns]
    record_id patient_id     diagnosis      bp  sugar_level  visit_cost  \
0        R101       P013  Hypertension  120/80   140.000000        2000
1        R102       P105      Diabetes  120/80   141.058824        2500
2        R103       P098  Hypertension    high   140.000000        3000
3        R104       P038        Asthma  140/90   141.058824        3000
4        R105       P040        Asthma  130/85   141.058824        1500
..        ...        ...           ...     ...          ...         ...
115      R216       P081        Asthma    high   110.000000        2500
116      R217       P033      Diabetes    high   141.058824        1500
117      R218       P063  Hypertension  140/90   141.058824        2000
118      R219       P011  Hypertension  130/85   180.000000        2500
119      R220       P013  Hypertension    high   180.000000        1500

    Sugar_Condition
0          Diabetes
1          Diabetes
2          Diabetes
3          Diabetes
4          Diabetes
..              ...
115     Prediabetes
116        Diabetes
117        Diabetes
118        Diabetes
119        Diabetes

[120 rows x 7 columns]
Average Visit Cost: 2287.5
Average Sugar Level for Diabetes: 150.95669036845507

In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv("6svfo1 (1) (1).csv")

print("===== ORIGINAL DATA =====")
print(df.head())

# 2. Shape of dataset
print("\nDataset shape (rows, columns):")
print(df.shape)

# 3. Check missing (NULL) values
print("\nMissing values before cleaning:")
print(df.isnull().sum())

# 4. Remove duplicate rows
print("\nNumber of duplicate rows:", df.duplicated().sum())
df.drop_duplicates()
for age in df.select_dtypes(include=np.number).columns:
    df['age'].fillna(df['age'].mean(), inplace=True)

print(df)
df=df['age'].fillna(df['age'].mean())
print(df)

===== ORIGINAL DATA =====
  patient_id          name   age gender     city admission_date height_cm
0       P001           NaN  25.0      F   mumbai     15/01/2024       180
1       P002  Rahul Sharma  60.0      F    Delhi     2024/01/16       170
2       P003    Neha Singh  45.0      M   Mumbai     2024/01/16       150
3       P004    Neha Singh  60.0   Male  kolkata     15/01/2024       170
4       P005    Neha Singh  25.0   Male  kolkata     2024-01-15       180

Dataset shape (rows, columns):
(130, 7)

Missing values before cleaning:
patient_id         0
name              23
age               24
gender             0
city               0
admission_date     0
height_cm          0
dtype: int64

Number of duplicate rows: 10
    patient_id          name   age  gender     city admission_date height_cm
0         P001           NaN  25.0       F   mumbai     15/01/2024       180
1         P002  Rahul Sharma  60.0       F    Delhi     2024/01/16       170
2         P003    Neha Singh  45.0       M   Mumbai     2024/01/16       150
3         P004    Neha Singh  60.0    Male  kolkata     15/01/2024       170
4         P005    Neha Singh  25.0    Male  kolkata     2024-01-15       180
..         ...           ...   ...     ...      ...            ...       ...
125       P006   Anita Verma  25.0       M   Mumbai     2024-01-15       150
126       P007    Neha Singh  25.0       F  kolkata     15/01/2024       150
127       P008     John Paul  60.0       F  Chennai     2024-01-15       160
128       P009           NaN  45.0       M   Mumbai     2024-01-15       150
129       P010  Rahul Sharma  60.0  Female  Chennai     2024/01/16       150

[130 rows x 7 columns]
0      25.0
1      60.0
2      45.0
3      60.0
4      25.0
       ...
125    25.0
126    25.0
127    60.0
128    45.0
129    60.0
Name: age, Length: 130, dtype: float64